/*Mobile portrait*/
@media (max-width: 1024px) {
	
	#profile {
		width: 192px;
		height: 192px;
		
		margin-bottom: 64px;
	}
	
	.t1{
		font-size: 48px;	
	}
	.t2{
		font-size: 24px;
	}
	
	.social-icons-container{
		margin-top: 48px;
	}
	.social-icon {  	
		font-size: 24px;
		
		margin-left: 16px;
		margin-right: 16px;
	}
}
/*Dektop*/
@media (min-width: 1024px) and (min-height: 768px){

	#profile {
		width: 256px;
		height: 256px;
		
		margin-bottom: 96px;
	}
	
	.t1{
		font-size: 64px;	
	}
	.t2{
		font-size: 32px;
	}
	
	.social-icons-container{
		margin-top: 64px;
	}
	.social-icon {  	
		font-size: 32px;
		
		margin-left: 24px;
		margin-right: 24px;
	}
}